@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Celular */

@media (max-width: 1050px) {
    body div#menu-cell {
        display: flex;
    }

    body i {
        right: 20px;
    }
}


@media (max-width: 1050px) {
    body nav.navbar {
        display: none;
    }
}

/* Menu cell */

div#menu-cell  {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: right;
    display: none;
}   

div#menu-cell i {
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 1;

}

menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10000;
    transition: 0.5s;
}

#menucell {
    display: flex;
    overflow: hidden;
}


menu#menucell a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
    transition: 0.5s all;
    text-align: center;
}


menu#menucell a:hover {
    color: #fff;
    font-size: 1.2em;
 }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}

.navbar a {
    font-size: 18px;
    color: #ffffff98;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
    transition: 0.5s all;
}

.navbar a:hover {
    color: #fff;
    font-size: 1.2em;
}

.section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

main#Cursos {
    display: grid;
}

.rodapé {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodapé h1 {
    font-size: 15vw;
    text-transform: uppercase;
}

footer {
    width: 100%;
    min-height: 250px;
    background: rgb(82, 84, 85);
    display: flex;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

footer .boxs:nth-child(4){
    width: 400px;
}

.boxs h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: #fff;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: #fff;
}

.boxs p {
    color: white;
    text-align: justify;
}

.footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(50, 50, 50);
    padding: 0px 20px;
}

.footer h2 {
    color: white;
}

.footer .Sociais {
    display: flex;
}

.Sociais .social {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 60px;
    background: rgb(50, 50, 50);
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background .3s linear;
}

.Sociais .social a {
    color: white;
    font-size: 1.8em;
    transition: color .3s linear;
}

.Sociais .social:hover {
    background: blue;
}

.Sociais .social:hover a {
    color: #fff;
}

@media (max-width: 1050px) {
    footer {
        flex-direction: column;
    }
    footer .boxs {
        width: 100%;
        text-align: center;
    }
    footer .boxs:nth-child(4) {
        width: 100%;
    }
}